.overflow-elision-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.overflow-elision-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.btn-primary {
  @apply block outline-none rounded text-center px-6 py-3 text-sm text-white transform transition-all duration-150 bg-red-500;
}